.container,.listItem{

    margin:20px 0  30px 50px;
}
.container *{
 margin-right: 30px;
}
.listItem li span{
    margin-right: 50px;
    color: brown;
}
.listItem li{
    margin-bottom: 20px;
    color: brown;
}
button{
    padding: 5px 20px;
    background-color: rgb(83, 151, 163);
    color: azure;
    font-weight: 800;
}